@import url(http://fonts.googleapis.com/css?family=Lato:300,700|Merriweather:300italic);

/* RESET
================================================= */

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GLOBAL
================================================= */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    background: #3e352f;
}

h1 {
    color: #3e352f;
    font-weight: 300;
}

p, a, h3 {
    color: #f0f0f0;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.full-height {
    height: 100vh;
}

.icons li {
    white-space:nowrap;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
}

    .icons li:nth-child(n+2) {
        margin-left: 50px;
    }

    .icons li img {
        max-width: 80px;
        height: auto;
        display: block;
        margin: 6px auto;
    }


/* HERO
================================================= */

#main-header-bg {
    z-index: 0;
    background-image: url(../images/P2080768.jpg);
    background-size: cover;
    width: 100%;
    position: fixed;
}

    #main-title {
        white-space:nowrap;
        float: left;
        font-size: 4.4em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 24px 6%;
        border: 3px solid;
        text-align: center
    }

    #main-header .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

@media screen and (max-width: 768px) {
    #main-title {
        font-size: 3em;
        border: 2.4px solid;
    }

    #main-header ul li {
        display: inline-block;
        font-size: 1em;
    }

        #main-header ul li:nth-child(n+2) {
            margin-left: 30px;
        }

        #main-header ul li img {
            max-width: 60px;
        }
}

/* ABOUT SECTION
================================================= */
#main-content {
    z-index: 10;
    position: relative;
}

#main-content h2 {
        font-size: 2.6em;
        margin-bottom: 30px;
    }

#about-section {
    background-color: #3e352f;
    position: relative;
    width: 100%;
    padding: 10% 0;
}
    #about-section h2 {
        margin-left: 5%;
    }

    #about-section ul {
        display: inline-block;
    }

    #about-section img {
        display: block;
        min-width: 200px;
        max-width: 25%;
        border-radius: 50%;
        border: 3px solid #f0f0f0;
        margin: 5%;
        float: left;
    }

    #about-text {
        margin: 14.5% 5%;
        font-size: 1.4em;
    }

@media screen and (max-width: 768px) {
    #about-text {
        font-size: 1em;
    }

    #about-section img,
    #about-section p {
        display: block;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        float: none;
    }

    #about-section img {
        margin-bottom: 5%;
    }
}

/* SKILL SECTION
================================================= */

#skill-section {
    padding: 5% 0;
    background-color: rgba(62,53,47,0.8);
    background-image: url(../images/pattern1-02.png);
    background-size: cover;
    height: 320px;
}

.col-1,
.col-2 {
    width: 40%;
    float: left;
    padding: 40px 5%;
}

    #skill-section h3 {
        margin: 20px 0 8px 0;
    }

    .bar-graph {
        width: 100%;
        border: 1px solid #f0f0f0;
        background-color: rgba(62,53,47,0.7);
        height: 10px;
        border-radius: 4px;
    }

        .bar-inner {
            height: 10px;
            border-radius: 4px;
        }

        #illustrator-bar {
            width: 80%;
            background-color: #e47f27;
        }

        #photoshop-bar {
            width: 90%;
            background-color: #81cff5;
        }

        #sketch-bar {
            width:70%;
            background-color: #f6bf33;
        }

        #html-bar {
            width: 90%;
            background-color: #e44d26;
        }

        #css-bar {
            width: 85%;
            background-color: #0070bc;
        }

        #js-bar {
            width: 30%;
            background-color: #d6ba32;
        }

@media screen and (max-width: 768px) {
    #skill-section h2 {
        font-size: 1.6em;
    }
}

/* CONTACT SECTION
================================================= */

#contact-section {
    background-color: #3e352f;
}

    .icons {
        text-align: center;
    }

@media screen and (max-width: 768px) {
    p {
        display: block;
        margin: 0 auto;
        width: 80%;
        text-align: center
    }
}


/* FOOTER
================================================= */
