@import url(http://fonts.googleapis.com/css?family=Lato:300);

/* RESET
================================================= */

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GLOBAL
================================================= */

body {
    font-family: 'Lato', sans-serif;
    color: #f0f0f0;
    background: #3e352f;
}

h1 {
    color: #3e352f;
}

p, a, h2 {
    color: #f0f0f0;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}

.icons li {
    white-space:nowrap;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
}

    .icons li:nth-child(n+2) {
        margin-left: 50px;
    }

    .icons li img {
        max-width: 80px;
        height: auto;
        display: block;
        margin: 6px auto;
    }


/* NAV
================================================= */

#main-header {
    background-image: url(../images/P2080768.jpg);
    background-size: cover;
    width: 100%;
}

    #main-title {
        white-space:nowrap;
        float: left;
        font-size: 4.4em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 24px 6%;
        border: 3px solid;
        text-align: center
    }

    #main-header .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

@media screen and (max-width: 768px) {
    #main-title {
        font-size: 3em;
        border: 2.4px solid;
    }

    #main-header ul li {
        display: inline-block;
        font-size: 1em;
    }

        #main-header ul li:nth-child(n+2) {
            margin-left: 30px;
        }

        #main-header ul li img {
            max-width: 60px;
        }
}

/* MAIN CONTENT
================================================= */

#web-section {
    background-color: #3e352f;
    background-image: url(../images/pattern1-02.png);
    background-size: cover;
}

.col-1 {
    width: 30%;
    float: left;
    padding: 5%;
}

    #profile-pic {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid #f0f0f0;
    }


.col-2 {
    width: 60%;
    float: right;
}

    .col-2 h2 {
        font-size: 2.4em;
        margin: 30px 30px 20px 30px;
    }

    .col-2 p {
        margin: 0 30px 20px;
    }

    .col-2 .icons {
        text-align: center;
    }




/* FOOTER
================================================= */
